<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.ArticleEntityMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.ArticleEntity">
    <id column="ARTICLE_ID" jdbcType="INTEGER" property="articleId" />
    <result column="ARTICLE_CONTENT" jdbcType="VARCHAR" property="articleContent" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="CREATER_TIME" jdbcType="TIME" property="createrTime" />
    <result column="MODFIY_TIME" jdbcType="TIME" property="modfiyTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ARTICLE_ID, ARTICLE_CONTENT, USER_ID, CREATER_TIME, MODFIY_TIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where ARTICLE_ID = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where ARTICLE_ID = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.entity.ArticleEntity">
    insert into article (ARTICLE_ID, ARTICLE_CONTENT, USER_ID, 
      CREATER_TIME, MODFIY_TIME, REMARK
      )
    values (#{articleId,jdbcType=INTEGER}, #{articleContent,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{createrTime,jdbcType=TIME}, #{modfiyTime,jdbcType=TIME}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.ArticleEntity">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        ARTICLE_ID,
      </if>
      <if test="articleContent != null">
        ARTICLE_CONTENT,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="createrTime != null">
        CREATER_TIME,
      </if>
      <if test="modfiyTime != null">
        MODFIY_TIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createrTime != null">
        #{createrTime,jdbcType=TIME},
      </if>
      <if test="modfiyTime != null">
        #{modfiyTime,jdbcType=TIME},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.ArticleEntity">
    update article
    <set>
      <if test="articleContent != null">
        ARTICLE_CONTENT = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createrTime != null">
        CREATER_TIME = #{createrTime,jdbcType=TIME},
      </if>
      <if test="modfiyTime != null">
        MODFIY_TIME = #{modfiyTime,jdbcType=TIME},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ARTICLE_ID = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.ArticleEntity">
    update article
    set ARTICLE_CONTENT = #{articleContent,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=INTEGER},
      CREATER_TIME = #{createrTime,jdbcType=TIME},
      MODFIY_TIME = #{modfiyTime,jdbcType=TIME},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ARTICLE_ID = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>