<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserEntityMapper">
    <resultMap id="BaseResultMap" type="com.test.entity.UserEntity">
        <id column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="PET_NAME" jdbcType="VARCHAR" property="petName"/>
        <result column="USER_AGE" jdbcType="VARCHAR" property="userAge"/>
        <result column="USER_SEX" jdbcType="VARCHAR" property="userSex"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="USER_PASSWORD" jdbcType="VARCHAR" property="userPassword"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.test.entity.UserEntity">
        <result column="HARD_ICON" jdbcType="LONGVARBINARY" property="hardIcon"/>
    </resultMap>
    <sql id="Base_Column_List">
    USER_ID, PET_NAME, USER_AGE, USER_SEX, USER_NAME, USER_PASSWORD
  </sql>
    <sql id="Blob_Column_List">
    HARD_ICON
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from user
        where USER_ID = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.test.entity.UserEntity">
    insert into user (USER_ID, PET_NAME, USER_AGE, 
      USER_SEX, USER_NAME, USER_PASSWORD, 
      HARD_ICON)
    values (#{userId,jdbcType=INTEGER}, #{petName,jdbcType=VARCHAR}, #{userAge,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{hardIcon,jdbcType=LONGVARBINARY})
  </insert>
    <insert id="insertSelective" parameterType="com.test.entity.UserEntity">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="petName != null">
                PET_NAME,
            </if>
            <if test="userAge != null">
                USER_AGE,
            </if>
            <if test="userSex != null">
                USER_SEX,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="userPassword != null">
                USER_PASSWORD,
            </if>
            <if test="hardIcon != null">
                HARD_ICON,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="petName != null">
                #{petName,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                #{userAge,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="hardIcon != null">
                #{hardIcon,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.UserEntity">
        update user
        <set>
            <if test="petName != null">
                PET_NAME = #{petName,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                USER_AGE = #{userAge,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                USER_SEX = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="hardIcon != null">
                HARD_ICON = #{hardIcon,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.test.entity.UserEntity">
    update user
    set PET_NAME = #{petName,jdbcType=VARCHAR},
      USER_AGE = #{userAge,jdbcType=VARCHAR},
      USER_SEX = #{userSex,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      HARD_ICON = #{hardIcon,jdbcType=LONGVARBINARY}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.test.entity.UserEntity">
    update user
    set PET_NAME = #{petName,jdbcType=VARCHAR},
      USER_AGE = #{userAge,jdbcType=VARCHAR},
      USER_SEX = #{userSex,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>

    <select id="selectByNameAndPwd" parameterType="com.test.entity.UserEntity" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from user
        where USER_NAME = #{userName,jdbcType=VARCHAR} AND USER_PASSWORD = #{userPassword,jdbcType=VARCHAR}
    </select>

    <select id="selectIdByNameAndPwd" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        USER_ID
        from user

        WHERE  USER_NAME = #{userName,jdbcType=VARCHAR}  AND USER_PASSWORD = #{userPassword,jdbcType=VARCHAR}
    </select>


    <update id="updateByUserNameSelective" parameterType="com.test.entity.UserEntity">
        update user
        <set>
            <if test="petName != null">
                PET_NAME = #{petName,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                USER_AGE = #{userAge,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                USER_SEX = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="hardIcon != null">
                HARD_ICON = #{hardIcon,jdbcType=LONGVARBINARY},
            </if>
        </set>
        WHERE USER_NAME = #{userName,jdbcType=VARCHAR}
    </update>

</mapper>